<section class="container">
<div class="header">
  <%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, :back, class: "back" %>
  <h1>Categories</h1>
  <%= form_for(current_user, url: destroy_user_session_path, method: :delete, html: { class: "nav-link" }) do |f| %>
    <%= f.button type: :submit, class: "btn-logout" do %>
      <%= content_tag :i, "", class: "fa-solid fa-right-from-bracket" %>
    <% end %>
  <% end %>
</div>

<% if @categories.any? %>
  <ul class="categories">
    <% @categories.each do |category| %>
      <li class="category">
      <a href="<%= category_transactions_path(category) %>">
      <div class="info">
        <div class = "info-name">
            <% if category.icon.present? %>
<div>
                  <%= raw category.icon %>
    
</div>            <% end %>
            <h3><%= category.name %></h3>
        </div>
        <div class="info-amount">
            <p>$<%= category.transactions.collect(&:amount).sum %></p>
        </div>
    </div>
      </li>
      </a>
    <% end %>
  </ul>
  <button class="btn addNew"><%= link_to 'Add New', new_category_path %></button>
<% else %>
  <p class="msg">No categories found. Click the button below to add a new category.</p>
  <button class="btn addNew"><%= link_to 'Add New', new_category_path%></button>
<% end %>

</section>
